
body {
    background-color: #459CCE;
    color: #054F7D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.birthday-card {
    background-color: #92C0DA;
    border: 5px solid #05578A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    font-family: garamond;
    font-size: 50px;
}

h2 {
    font-family: Times, serif;
    font-size: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.birthday-card:hover {
    box-shadow: 5px -10px 18px #84BCDA;
}